* {
    font-family: 'Segoe UI';
    margin: 30px;
    padding: 0;
    font-size: 20px;
}

h1 {
    padding-left: 25px;
    font-size: 40px;
    color: #29738F;
}

body {
    background-color: rgb(220, 220, 220);
}

.about-column {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: justify;
}

.about-column p {
    margin: 5px;
    padding-left: 20px;
    line-height: 150%;
}

.about-column span {
    margin: 0;
    padding: 0;
}

.about-column ul, li {
    line-height: 10%;
    padding: 2px;
}

#columna-1 {
    float: left;
}

#columna-2 {
    float: right;
}

#columna-2 p {
    line-height: 200%;
}

.italics {
    font-style: italic;
}

a {
    text-decoration: none;
    margin: 10px;
}

.links, .links:active {
    font-weight: bold;
    color: #6096AA;
}


.links:hover {
    color: #29738F;
}